# Curso de Python Básico

Este é um curso básico de python que tem o objetivo de apresentar a linguagem python de uma **maneira rápida e objetiva**. Vamos direto ao ponto nos conceitos básicos da programação e python com muita mão na massa! 

Neste curso, vamos trabalhar no **modo iterativo** do python. Porém, entenda que você pode trabalhar no modo script com várias linhas de código usando um arquivo no formato .py.

Ao final desse Curso, espero que você se aprenda python e se motive cada vez mais em utilizar a linguagem para diversas tarefas e problemas do mundo real.

Este notebook vai apenas passar pelos tópicos básicos em ordem

# Arquivos do Sistema Operacional

- dataset: https://dados.gov.br/dataset/ensino-pos-graduacao-fcrb

### 01. Abrir arquivos no disco

In [ ]:
file = open('docentes20162021.csv', 'r', encoding='utf-8')

In [ ]:
print(file)

#### Modo de leitura
- r: permissão de leitura (read)
- w: permissão de escrita (write)
- a: permissão de escrita somente no final do arquivo (append)

### 02. Leitura de arquivos no disco

In [ ]:
dados = file.readlines()

In [ ]:
for word in dados:
    print(word)

In [ ]:
file = open('docentes20162021.csv', 'r')
print(file.read())

#### leitura usando with

In [ ]:
with open('docentes20162021.csv', 'r') as file:
    print(file.read())

### 03. Escrevendo em arquivos

In [ ]:
file2 = open('novo_arquivo.txt', 'w')

In [ ]:
file2.write('Este é minha primeira linha do arquivo file2')

In [ ]:
file2.write('Esta é a segunda linha do arquivo file2')

In [ ]:
file2.close()

In [ ]:
# arquivo está fechado (error)
file2.read()

- O arquivo está fechado! Você não pode escrever nele!

In [ ]:
file2 = open('novo_arquivo.txt', 'r')

In [ ]:
file2.readlines()

#### Escrevendo no final do arquivo
- Use a tag 'a'

In [ ]:
file3 = open('novo_arquivo.txt', 'a')

In [ ]:
file3.write('Vamos escrever no final do arquivo\n')

In [ ]:
file3.close()

#### Escrevendo lista de dados em arquivos

In [ ]:
lista = ['primeira linha', 'segunda linha', 'terceira linha']

In [ ]:
file = open('novo_arquivo.txt', 'w')

In [ ]:
file.writelines(lista)
#file.close()

In [ ]:
file = open('novo_arquivo.txt', 'r')

In [ ]:
file.readlines()

# Agora é sua vez

**1) Crie um arquivo turma.csv e escreva o nome e a idade dos alunos da turma neste arquivo.**
- Exemplo
    - id, nome, idade
    - 1, joão, 10
    - 2, pedro, 20
    - 3, maria, 30

In [1]:
import csv #importando a biblioteca para manipular arquivos csv com o python

alunos = [
         [1,'Alessandro',29],
         [2,'Carlielson',29],
         [3,'Davysson',27],
         [4,'Davi',23],
         [5,'Erik',26],
         [6,'Hyago',25],
         [7,'Janiel',25],
         [8,'Johnson',23],
         [9,'Juliana',27],
         [10,'Kelvin',25],
         [11,'Livia',25],
         [12,'Lorena',26],
         [13,'Luan',23],
         [14,'Lucelia',36],
         [15,'Nathalia',24],
         [16,'Rafael',26],
         [17,'Robesvania',23],
         [18,'Robson',23],
         [19,'Valbert',38],
         [20,'Wesley',24]]

#Abertura do arquivo para ser escrito
arq = open('turma.csv', 'w', newline='', encoding='utf-8')

#Carregando uma caneta para escrita
w = csv.writer(arq)

#Procurando por cada lista dentro da lista Geral de Alunos
for residente in range(len(alunos)):
    ind = alunos[residente][0] # Listas[lista][elementos_da_lista]
    nome = alunos[residente][1]
    idade = alunos[residente][2]
    #Escrevendo no arquivo cada dado coletado das listas mais internas, que estão dentro da lista de alunos.
    w.writerow([ind, nome, idade])

#Fechando o arquivo normalmente
arq.close()

#Comentários de Davi Oliveira

In [14]:
import pandas as pd

df = pd.read_csv('turma.csv')
df

     1  Alessandro  29
0    2  Carlielson  29
1    3    Davysson  27
2    4        Davi  23
3    5        Erik  26
4    6       Hyago  25
5    7      Janiel  25
6    8     Johnson  23
7    9     Juliana  27
8   10      Kelvin  25
9   11       Livia  25
10  12      Lorena  26
11  13        Luan  23
12  14     Lucelia  36
13  15    Nathalia  24
14  16      Rafael  26
15  17  Robesvania  23
16  18      Robson  23
17  19     Valbert  38
18  20      Wesley  24

**2) Crie um novo arquivo soma_idade.csv que irá receber a soma das idades do arquivo turma.csv**
- Exemplo (turma.csv)
    - id, nome, idade
    - 1, joão, 10
    - 2, pedro, 20
    - 3, maria, 30

- Exemplo (soma.csv)
    - soma,
    - 60

In [4]:
#abertura do arquivo 
with open('turma.csv', encoding='utf-8') as arquivo_referencia:
    
    #Realizando a leitura do csv coletado anteriormente
    turma = csv.reader(arquivo_referencia, delimiter=',')
    
    #Criando o novo arquivo para armazenar a soma das idades
    arq2 = open('soma_idade.csv', 'w', newline='', encoding='utf-8')
    
    #Vetor auxiliar para colocar como Rótulo da Coluna
    aux = ['soma']
    
    #Criando uma caneta para escrever no arquivo de soma das idades
    w2 = csv.writer(arq2)
    
    soma = 0
    #buscando a idade no arquivo de csv
    for residente in turma:
        idade = residente[2]
        soma += int(idade)
    
    #Escrevendo o Rótulo da Coluna
    w2.writerow([aux[0]])
    #Escrevendo o resultado da soma das idades dos alunos
    w2.writerow([soma])
    
    #Fechando o arquivo normalmente
    arq.close()
    
    #Comentários de Davi Oliveira

In [15]:
df2 = pd.read_csv('soma_idade.csv')
df2

   soma
0   527